//add review
.profile__ttl
	&.addrev
		.btn
			text-decoration: none
			color: #25292D
			i
				margin-right: 10px

.addreviews
	.impetus
		margin: 16px 0
		font-size: 16px
		color: #25292Dss
		line-height: 18px
		+seg_r
	.details__field
		width: 900px
		margin: 20px auto 25px
		.details__title
			width: 605px
		.details__img
			position: relative
			padding: 14px 0 0 17px
			img
				width: 260px
		.details__rev
			position: absolute
			padding: 5px 10px
			bottom: 0
			font-size: 12px
			color: #fff
			background: rgba(37, 41, 45, 0.5)
			+seg_r
			.is-bold
				font-size: 24px
				+seg_b
		.details-info_left
			width: 329px
			padding: 20px 0 20px 23px
		.details-info__date
			padding: 15px 0 14px
	.status
		width: 295px
	.flat-mark
		display: block
		width: 900px
		margin: 20px auto 0
		font-size: 21px
		+seg_sb
		span
			margin: 0 0 2.5px 10px
			font-size: 14px
			color: #A4A4A4
	.link-blue
		margin-left: 17px
	.addreviews__item
		padding-left: 20px
		+border-box
	.addreviews__ttl
		position: relative
		padding: 18px 0
		font-size: 18px
		color: #25292D
		+seg_r
		&.yes-no
			padding: 18px 0 18px 25px
		span
			position: absolute
			left: 0
			line-height: 1
			&.yes
				top: 14px
				font-size: 27px
				color: #48BF0D
			&.no
				top: 8px
				font-size: 35px
				color: #F31A42
		&.with-border
			margin-top: 25px
			padding: 30px 0 18px
			border-top: 1px solid #e6e5e5
	.addreviews__table
		width: 780px
	.table__row
		padding: 4.5px 0
		background: #EFF0F0
		border-bottom: 1px solid #f6f6f6
		+clr
		p
			padding-left: 25px
			line-height: 30px
	.table__name
		width: 292px
	.mark-good
		color: #00BAAB
	.mark-ok
		color: #858585
	.mark-bad
		color: #f31a42
	.mark-excellent
		color: #6dae10
	.star
		display: inline-block
		vertical-align: middle
		cursor: pointer
		+s(star-h)
	.star_empty
		+s(star)
	.addreviews__expect
		display: block
		margin-bottom: 10px
		font-size: 16px
		line-height: 21px
		span, input
			display: inline-block
			vertical-align: middle
		span
			padding-left: 10px
	.addreviews__ask
		display: inline-block
		margin: 20px 0 0 20px
		font-size: 16px
		color: #4F81BD
		border-bottom: 1px dashed #4F81BD
		line-height: 1
		+seg_b
	.choice
		width: 900px
		margin: 0 auto
		font-size: 0
		p
			font-size: 17px
		.btn_green
			margin-right: 20px
	.textarea
		display: block

.revtab
	.revtab__in
		padding: 20px 15px 0
		+border-box
		+clr
	.revtab__left
		width: 590px
	.is-light
		background: #FFFEEF
	.is-bold
		+seg_b
	.is-semibold
		+seg_sb
	.is-green
		color: #48BF0D
	.respond
		&:hover
			.respond__body.is-light
				background: #FFFEEF
		&.profile
			margin: 0
	.respond__in
		margin-bottom: 25px
		.with-bg
			.respond__top
				background: #f6f6f6
			.respond__body
				padding: 17px 12px 12px
				background: #fff
		&.is-last
			margin-bottom: 0
	.respond.review
		margin-top: 0
	.author
		margin-bottom: 20px
		font-family: Arial, sans-serif
		font-size: 12px
		color: #9b9a9a
	.respond__estimate
		margin: 0 0 18px 18px
		font-size: 18px
		color: #25292D
		+seg_sb
	.respond__points
		width: 180px
		margin: 0 14px
	.points__head
		position: relative
		padding: 2px 18px
		background: #D9D9D9
		+clr
		&:before
			content: " "
			position: absolute
			left: 50%
			bottom: 0
			margin-left: -7px
			border-style: solid
			border-width: 0 3.5px 7px 3.5px
			border-color: transparent transparent #f6f6f6 transparent
		.is-bold
			font-size: 24px
			color: #25292d
		.is-green
			padding-top: 10px
	.points__body
		padding: 14px 10px 10px 10px
		background: #f6f6f6
		font-size: 12px
		line-height: 1
		li
			position: relative
			margin-bottom: 14px
			+clr
			&:before
				content: " "
				position: absolute
				bottom: 3px
				width: 100%
				height: 1px
				border-bottom: 1px dotted #000
		span
			position: relative
			max-width: 88px
			padding: 0 2px 2px 0
			background: #f6f6f6
			z-index: 2
		.is-bold
			padding: 0 0 0 2px
			font-size: 14px
		.with-margin
			margin-top: 11px
		.checked
			margin-top: 12px
			padding-top: 10px
			border-top: 1px solid #D9D9D9
			+clr
			i
				margin: 5px 7px 0 2px
				+s(arr24)
	.respond__like
		float: none
		width: 100%
		text-align: right
	.respond__plus
		&.another-margin
			margin-bottom: 20px
			padding-bottom: 25px
	.respond__reason
		margin-top: 30px
		font-size: 12px
		&.no-margin
			margin-top: 0
		li
			position: relative
			margin-bottom: 15px
			+clr
			&:before
				content: " "
				position: absolute
				bottom: 6px
				width: 100%
				height: 1px
				border-bottom: 1px dotted #000
		span
			position: relative
			padding: 0 2px 2px 0
			background: #fff
			z-index: 2
	.respond__quote
		margin: 15px 0 20px
	.respond__footer
		padding: 13px 20px
		border-top: 1px solid #F6F6F6
	.l-col2
		margin-left: 18px
	.item
		height: auto
		margin-bottom: 0
	.item__rev
		position: absolute
		padding: 5px 10px
		bottom: 0
		font-size: 12px
		color: #fff
		background: rgba(37,41,45,0.5)
		+seg_r
		.is-bold
			font-size: 24px
	.item__text
		padding: 10px 15px 12px 10px
		p
			margin-bottom: 10px
	.item__ttl
		display: block
		text-decoration: none
		font-size: 16px
		margin-bottom: 12px
		&:hover
			text-decoration: underline
	.to-hide
		margin-left: 25px
	.textarea
		margin-top: 15px
		padding: 13px 10px
		font-size: 14px
		+placeholder-color(#4f4f4f)
		+seg_r
