@font-face
    font-family: 'SegoeUIRegular'
    src: url('../fonts/segoeui.eot')
    src: local('__'), url('../fonts/segoeui.woff') format('woff'), url('../fonts/segoeui.svg') format('svg')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'SegoeUIBold'
    src: url('../fonts/segoeuib.eot')
    src: local('__'), url('../fonts/segoeuib.woff') format('woff'), url('../fonts/segoeuib.svg') format('svg')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'SegoeUIBoldItalic'
    src: url('../fonts/segoeuibi.eot')
    src: local('__'), url('../fonts/segoeuibi.woff') format('woff'), url('../fonts/segoeuibi.svg') format('svg')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'SegoeUIItalic'
    src: url('../fonts/segoeuii.eot')
    src: local('__'), url('../fonts/segoeuii.woff') format('woff'), url('../fonts/segoeuii.svg') format('svg')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'SegoeUILight'
    src: url('../fonts/segoeuil.eot')
    src: local('__'), url('../fonts/segoeuil.woff') format('woff'), url('../fonts/segoeuil.svg') format('svg')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'SegoeUISemibold'
    src: url('../fonts/seguisb.eot')
    src: local('__'), url('../fonts/seguisb.woff') format('woff'), url('../fonts/seguisb.svg') format('svg')
    font-weight: normal
    font-style: normal

=seg_r
    font-family: 'SegoeUIRegular', Arial, sans-serif
    +font-smoothing
=seg_b
    font-family: 'SegoeUIBold', Arial, sans-serif
    +font-smoothing
=seg_bi
    font-family: 'SegoeUIBoldItalic', Arial, sans-serif
    +font-smoothing
=seg_i
    font-family: 'SegoeUIItalic', Arial, sans-serif
    +font-smoothing
=seg_l
    font-family: 'SegoeUILight', Arial, sans-serif
    +font-smoothing
=seg_sb
    font-family: 'SegoeUISemibold', Arial, sans-serif
    +font-smoothing

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    vertical-align: baseline
body, html
    height: 100%
img,fieldset
    border: none
input[type="submit"],
button
    cursor: pointer
    &::-moz-focus-inner
        padding: 0
        border: 0
textarea
    overflow: auto
input, button
    margin: 0
    padding: 0
    border: 0
input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus
    outline: none
ul,ol
    list-style-type: none
+iphone
    *
        -webkit-text-size-adjust: none
table
    border-spacing: 0
    border-collapse: collapse
    width: 100%
    table-layout: fixed
$gray: #5c6064
$black: #25292d
$blue: #4f81bd
$orange: #ff7e00
html
    +scrollbar
        width: 14px
    +scrollbar-track
        background: #bec3c3
    +scrollbar-thumb
        background: #bec3c3
    +scrollbar-track-piece
        background: #e1e1e1
body
    color: $gray
    min-width: 960px
    background: #f6f8f8
    font: normal 13px/1.3 Arial, sans-serif
    +selection
        background: rgba(0,0,0,.1)
        color: #000
    &.index-page
        .header
            margin-bottom: 0
            border-bottom: 0
            +box-shadow(none)
        .footer
            border-top: 0
a
    color: $gray
    text-decoration: none
.l-layout
    margin: 0 auto
    position: relative
    min-height: 100%
    height: auto !important
    height: 100%
.wrapper
    overflow: hidden
.wrap
    +clr
.l-container
    padding: 0 10px
    margin: 0 auto
    width: 940px

// -------------------------- Header ------------------------- //
.header
    margin-bottom: 13px
    border-bottom: 1px solid #ded7d3
    +box-shadow(0 1px 0 #fff)
.header__top
    height: 44px
    line-height: 44px
    background: #fff
    +clr
    border-bottom: 1px solid #ded7d3
.header__info
    float: left
    +clr
    li
        float: left
        margin-right: 30px
        color: #8a8e91
        font-size: 11px
        +seg_i
    .b
        font-weight: normal
        +seg_bi
        color: #656b70
.header__top-btn
    float: right
    margin-top: -1px
    .btn_blue
        margin-right: 6px

.header__bottom
    padding: 17px 0 24px
    background: #f8f5f3
    border-top: 1px solid #fff
    +clr
.header__logo
    float: left
    margin-right: 177px
    +hide-text
    a
        display: block
        +s(logo)
.header__cont
    float: left
    .btn
        margin-right: 5px
.header__phone
    display: block
    margin-bottom: 7px
    font-size: 20px
    +seg_r
    color: $black

.header__currency
    float: right
    margin-top: 2px
    +seg_r
    font-size: 12px
    .currency
        display: inline-block
        margin-left: 16px
        vertical-align: middle
        &:first-child
            margin-left: 7px
.search
    position: relative
    margin-top: 10px
    input
        display: block
        padding: 0 30px 0 10px
        width: 100%
        +border-box
        height: 30px
        +border-radius(15px)
        background: #fff
        font-size: 14px
        +seg_l
        +box-shadow(inset 0 1px 0 #a99e98)
        +placeholder
            color: #8e9499
            +seg_i
            font-style: normal
        &:focus
            +box-shadow(0 0 8px rgba(0,150,255,.7), inset 0 1px 0 #a99e98)
    i
        position: absolute
        top: 5px
        right: 10px
        +s(glass)
.currency
    position: relative
    font: normal 12px Arial,sans-serif
    text-transform: uppercase
    &:after
        display: none
        content: ""
        position: absolute
        bottom: 0
        left: 0
        z-index: 200
        height: 3px
        width: 100%
        background: #acb8bb
    &.is-active
        .currency__text
            +border-radius(5px 5px 0 0)
            +box-shadow(0 0 4px #353c3e)
        &:after
            display: block
.currency__text
    position: relative
    display: inline-block
    padding: 0 26px 0 9px
    height: 20px
    line-height: 22px
    color: #fff
    cursor: pointer
    +border-box
    +border-radius(5px)
    background: #acb8bb
    +box-shadow(inset 0 1px 1px #637074)
    &:after
        content: ""
        position: absolute
        right: 4px
        top: 3px
        +s(arr2)
    &:hover
        +box-shadow(none)
.currency__list
    display: none
    position: absolute
    top: 20px
    left: 0
    right: 0
    z-index: 100
    overflow: hidden
    +border-radius(0 0 5px 5px)
    +box-shadow(0 0 4px #353c3e)
    li
        padding: 0 0 0 9px
        height: 20px
        line-height: 20px
        color: #fff
        +border-box
        background: #acb8bb
        border-top: 1px solid #8da1a6
        +box-shadow(inset 0 1px 0 #c4ccce)
        cursor: pointer
        +unselectable
        a
            margin-left: -9px
            padding-left: 9px
            width: 100%
            color: #FFF
            display: inline-block
        &:hover
            background: #ccd2d4

// -------------------------- footer ------------------------- //

.footer
    padding: 37px 0 44px
    border-top: 1px solid #c7cece
    .l-container
        +clr
.footer__nav
    float: left
    margin-left: 40px
    width: 140px
    &:first-child
        margin-left: 0
    li
        margin-bottom: 7px
        font-size: 12px
    a
        color: #606569
        &:hover
            text-decoration: underline
    button
        display: inline-block
        margin: -3px 0 0 -10px
        padding: 3px 10px
        color: #f72441
        cursor: pointer
        text-align: left
        +unselectable
        +border-radius(4px)
        background: none
        span
            display: block
            font: normal 12px Arial,sans-serif
            border-bottom: 1px dashed
        &:hover
            background: #fff
            +box-shadow(0 0 0 1px #dfe1e1)
.footer__title
    margin-bottom: 24px
    font-size: 14px
    font-weight: bold
    color: #000

.footer__add
    float: left
    width: 200px
    margin-left: 20px
    line-height: 1.4
    p
        margin-bottom: 10px
        color: #b8bbbf
        font-size: 11px
        font-style: italic
    .btn
        margin: 3px 0 19px

.footer__right
    float: right
    width: 300px
    +clr
    .search
        margin: 0 0 30px
        input
            +box-shadow(none)
            border: 1px solid #dcdfdf
            &:focus
                +box-shadow(0 0 8px rgba(0,150,255,.7))
        i
            +opacity(.7)

.footer__logo
    display: block
    +s(logo2)
.footer__copy
    margin: 10px 0 19px
    color: #8e8e8e
    font-size: 12px
.footer__create-by
    float: right
    margin-top: 22px
    +hide-text
    +s(logo3)
.footer_counters
    padding-top: 20px
    text-align: left
.city-list
    display: none
    margin-top: 12px
    padding: 30px 0 20px
    background: #fff
    +box-shadow(0 0 7px rgba(0,0,0,.41))
    .l-container
        position: relative
        +clr
        &:before
            content: ""
            position: absolute
            top: -34px
            left: 200px
            width: 0px
            height: 0px
            border-style: solid
            border-width: 0 5px 4px 5px
            border-color: transparent transparent #ffffff transparent
.city-list__col

    +border-box
    font-size: 0
    li
        margin-bottom: 10px
        width: 18%
        padding-right: 2%
        font-size: 12px
        color: #606569
        vertical-align: top
        display: inline-block
    a
        color: $blue
        margin-right: 5px
        &:hover
            text-decoration: underline

.lteie8
    .search
        input
            line-height: 30px
    .choose__input,
    .input
        line-height: 28px
    .select__input
        line-height: 40px
        &:focus
            line-height: 34px
    .btn-del
        &:after
            //margin: -14px 0 0 -5px
            margin: -5px 0 0 -5px
    .popup_log .btn-del
        &:after
            margin: -6px 0 0 -5px
    .item
        border-bottom: 1px solid #ccc
    .item__main
        border: 1px solid #ccc
        border-bottom: 0
    .checkbox
        span
            &:after,
            &:before
                display: none
    .sort__key
        &.is-active
            &:after
                display: none
    .sort__list
        border: 1px solid #ccc
        border-top: 0
    .gallery__nav
        background: #000
        +opacity(0.5)
    .drop
        &.is-active
            .drop__key,
            .drop__main
                border: 1px solid #ccc
    .popup
        .ui-datepicker
            top: 35px
            border: 1px solid #ccc
        .choose__input
            &:focus
                border: 1px solid #ccc
        .attr__item
            padding: 5px 9px
    .chat-link,
    .faq-link
        font-family: Arial,sans-serif
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=3.061515884555943e-16, M12=1, M21=-1, M22=3.061515884555943e-16, SizingMethod='auto expand')"
    .profile
        .profile__change
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#54FFFFFF, endColorstr=#54FFFFFF)
            .delete
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#54C4C4C4, endColorstr=#54C4C4C4)
        .profile__upload
            input
                visibility: visible
                +opacity(0)
    .addreviews
        .details__field
            .details__rev
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F25292D, endColorstr=#7F25292D)
.item__title
    &:hover
        text-decoration: underline
.title-visibility
    height: 0
    visibility: hidden
.details-info__h_blue
    &:hover
        text-decoration: underline
.js-mask-pin, .js-mask-number
    height: 24px !important
    -webkit-box-sizing: inherit !important
    -moz-box-sizing: inherit !important
    box-sizing: inherit !important
    +placeholder
.b
    font-weight: bold
.i
    font-style: italic
.js-with-tooltip
    cursor: default
.is-selected
    background: #F9F9B7
    &.first
        position: relative
        &:before
            position: absolute
            content: ''
            left: 0
            top: 50%
            margin-top: -6.5px
            width: 0px
            height: 0px
            border-style: solid
            border-width: 6.5px 0 6.5px 6px
            border-color: transparent transparent transparent #999999
    &.last
        position: relative
        &:before
            position: absolute
            content: ''
            right: 0
            top: 50%
            margin-top: -6.5px
            width: 0px
            height: 0px
            border-style: solid
            border-width: 6.5px 6px 6.5px 0
            border-color: transparent #999999 transparent transparent

.is-inactive
    &.first
        position: relative
        background: none !important
        &:before
            position: absolute
            content: ''
            top: 0
            left: 0
            width: 0px
            height: 0px
            opacity: 0.6
            border-style: solid
            border-width: 0 0 35px 35px
            border-color: transparent transparent #eeb9af transparent
    &.last
        position: relative
        background: none !important
        &:before
            position: absolute
            content: ''
            top: 0
            width: 0px
            height: 0px
            opacity: 0.6
            border-style: solid
            border-width: 35px 35px 0 0
            border-color: #eeb9af transparent transparent transparent
