// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

html, body
	font-size: 62.5%
	height: 100%

body
	font-family: Arial, sans-serif
	line-height: 1.4
	background: #F6F8F8

// common blocks
.out
	width: 940px
	margin: 0 auto
	padding: 40px 0

.onleft
	float: left
.onright
	float: right

//fonts
+font(segoeui, segoeui)
+font(seguisb, seguisb)
+font(segoeuib, segoeuib)
+font(segoeuib, segoeuib)
+font(segoeuii, segoeuii)

=sego
	font-family: 'segoeui', Arial, sans-serif
=segosb
	font-family: 'seguisb', Arial, sans-serif
	font-weight: normal
=segob
	font-family: 'segoeuib', Arial, sans-serif
	font-weight: normal
=segoi
	font-family: 'segoeuii', Arial, sans-serif

//ie8
.ie8
	.watched__arr
		i
			left: -16px
		&.another-marg
			padding: 9px 0 4px 0







































































































