.overlay
    display: none
    position: fixed
    z-index: 10000
    top: 0
    bottom: 0
    right: 0
    left: 0
    background: #000
    +opacity(.5)
.popup
    display: none
    position: absolute
    z-index: 20000
    width: 940px
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding: 20px 31px 20px 20px
    margin: auto
    width: 940px
    background: #fff
    +border-box
    +seg_r
    +box-shadow(0 1px 1px #000)
    .btn-del
        position: absolute
        top: 20px
        right: 20px
        background: $black
        &:hover
            background: #000
        &:active
            margin-top: 1px
    .slider
        float: left
    .price-detail
        margin: 11px 0 14px
    .beds
        margin: 5px 0 2px
    .attr
        float: none
        margin: 6px 0 30px
    .attr__wrap
        //background: red
        background: url(../img/dot.png) repeat 0 0
    .attr__item
        //padding: 5px 10px
        height: 29px
        line-height: 29px
        padding-top: 0
        padding-bottom: 0
        background: #fff
        margin-bottom: 0
        &:last-child
            border-bottom: none
    .flat-pricer
        padding: 0
        margin-bottom: 9px
    .btn_green
        margin-left: 19px
.popup_map
    position: fixed
    height: 545px
    .btn-del
        top: 5px
        right: 5px
.popup_slider
    min-height: 560px
    left: 50%
    right: auto
    bottom: auto
    top: 50%
    margin: -280px 0 0 -470px
.slider
    position: relative
    width: 580px
    overflow: hidden
.popup__main
    float: right
    width: 290px
    .to-map-link
        margin: 0 5px
.slider__preview
    width: 505px !important
    margin: 15px 0 0 35px
    img
        margin-right: 20px
.slider__nav
    position: absolute
    bottom: 0
    width: 0px
    height: 0px
    border-style: solid
    background: none
    &.disabled
        +opacity(.3)
        cursor: default
.slider__prev
    left: 0
    border-width: 32px 19px 32px 0
    border-color: transparent #464541 transparent transparent
.slider__next
    right: 0
    border-width: 32px 0 32px 19px
    border-color: transparent transparent transparent #464541

.popup__title
    width: 90%
    font-size: 17px
    color: $blue
    +seg_sb
    span
        color: $black
        +seg_r
.popup__subtitle
    font-size: 17px
    +seg_sb
    color: #464541

.popup__info-label
    display: block
    color: #464541
    font-size: 15px

.flat-ricer__row
    display: inline-block
    vertical-align: middle
    .popup__info-label
        margin-bottom: 3px

.require_mod
    font-size: 14px
    li
        margin-bottom: 10px
    div,span,strong
        display: inline-block
        vertical-align: middle
    div
        width: 113px
    span
        margin-left: 0
    strong
        color: $black
        font-weight: normal

.popup_ask
    position: fixed
    padding-right: 15px
    width: 620px
    height: 361px
    .popup__info-label
        margin-bottom: 6px
        font-size: 12px
    .choose
        width: 146px
    .input-label
        width: 140px
        margin-right: 6px
    .input-label_width
        width: 100%
        margin: 0
    .flat-pricer
        margin-bottom: 16px
    .popup__title
        width: 100%
    .address
        margin: 0 0 5px
.popup__title_black
    margin-bottom: 10px
    color: #464541
.popup__left
    float: left
    width: 360px
    margin-right: 10px
.popup__right
    overflow: hidden
    padding-left: 10px
    border-left: 1px solid #bfbfbf
    .popup__title_black,
    .popup__info-label
        margin-bottom: 0
.input-label
    display: inline-block
    margin-bottom: 15px
    +seg_r
    font-size: 12px
    color: #464541
    span
        display: block
        margin-bottom: 4px
.input-label_width
    display: block
.input
    padding: 0 9px
    width: 100%
    height: 28px
    border: 1px solid #e2e3ea
    +border-radius(2px)
    background: #fff
    +border-box
    color: #464541
    +box-shadow(inset 0 1px 0 #bfbfbf)
    +placeholder
        +seg_i
        color: #464541
    &:focus
        +box-shadow(none)
        +placeholder
            color: #ccc
.input_textarea
    padding: 9px
    height: 93px
    resize: none

.popup__btns
    margin-top: 7px
    .btn
        margin-right: 17px
.btn-cancel
    background: none
    color: $blue
    cursor: pointer
    border-bottom: 1px dashed

.popup__flat-info
    margin: 25px 0 13px

//order_new
.popup_log
    width: 320px
    height: 430px
    padding: 0
    border: 1px solid #cccccc
    p
        font-size: 12px
    .popup__title_black
        padding: 15px 0 5px 10px
    .popup__social
        padding: 10px
        background: #f2f2f2
        border-top: 1px solid #ccc
        border-bottom: 1px solid #ccc
    .soc__buttons
        a
            margin: 0 0 5px 0
        .fb_soc
            margin-right: 15px
            +s(fb_soc)
        .g_soc
            +s(g_soc)
        .vk_soc
            margin-right: 15px
            +s(vk_soc)
        .ok_soc
            +s(ok_soc)
    .popup__or
        position: relative
        margin: 8px 0
        text-align: center
        text-transform: uppercase
        color: #000
        &:before
            content: " "
            position: absolute
            display: block
            width: 130px
            height: 1px
            background: #ccc
            top: 50%
            left: 10px
        &:after
            content: " "
            position: absolute
            display: block
            width: 130px
            height: 1px
            background: #ccc
            top: 50%
            right: 10px
    .popup__choose
        padding: 0 10px
        label
            display: block
            margin-bottom: 5px
        input
            display: inline-block
            vertical-align: middle
            font-size: 15px 
            &:checked
                + span
                    font-weight: bold 
        span
            padding-left: 10px
        .popup__input
            display: none
            margin-top: 10px
            &.is-active
                display: block
            label
                margin-bottom: 7px
                +clr
            span
                display: block
                float: left
                padding: 5px 0 0 0
                font-size: 13px
            .input
                display: block
                float: right
                width: 215px
                height: 30px
                padding: 0 10px
                border: 1px solid #e2e3ea
                &:focus
                    box-shadow: 0 0 3px 1px #8bcdfb
        .popup__asking
            margin-top: 10px
            +clr
            label
                float: left
            span
                padding: 2px 0 0 25px
                font-size: 12px
            a
                display: block
                float: right
                padding-top: 2px
                font-size: 12px
                color: #4F81BD
                &:hover
                    border-bottom: 1px dashed #4F81BD
    .create
        display: inline-block
        font-size: 12px
        color: #4F81BD
        &:hover
            border-bottom: 1px dashed #4F81BD
    .btn-del
        top: 15px
    .btn_salad
        width: 100%
        margin: 5px 0
        padding: 0
        text-transform: none

//profile info popups
.photo_upload
    width: 770px
    height: 580px
    padding-top: 8px
    .btn-del
        top: -9px
        right: -9px
    .photo_upload_here
        margin-top: 20px
        padding: 30px 0
        text-align: center
        font-size: 14px
        border: 1px dashed #bab9b7
        +border-box
        i
            display: block
            margin: 0 auto 25px
            +s(upload)
    .photo_upload_choose
        +clr
    .photo_upload_item
        margin-right: 15px
        text-align: center
    .photo_upload_img
        width: 160px
        height: 170px
        margin-bottom: 15px
        img
            width: 100%
            height: 100%
        &.is-uploaded
            position: relative
            margin-bottom: 0
    .photo_upload_but
        margin-top: 17px
        .btn_green
            width: 230px
            margin: 0 10px 0 0
    .icon
        display: inline-block
        margin-right: 10px
        vertical-align: middle
    .fb_ico
        +s(fb_i)
    .vk_ico
        +s(vk_i2)

//profile offline confirm
.popup_wrap
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding: 30px 0
    text-align: center
    font-size: 0
    z-index: 10001
    overflow: auto
    &:before
        content: ""
        display: inline-block
        width: 0
        height: 100%
        vertical-align: middle

.offline
    position: relative
    display: inline-block
    width: 705px
    height: 290px
    text-align: left
    font-size: 14px
    vertical-align: middle
    &.m-height
        height: 735px
    .title-l-2
        margin-top: 0
    .title-l-3
        margin: 20px 0 17px
        padding: 8px 10px
        font-size: 18px
        background: #ECECEC
        box-shadow: 0 1px 1px #b7b3b1
        border-radius: 2px
        +seg_sb
    .offline__confirm
        margin-top: 20px
        +clr
    .offline__range
        position: relative
        width: 350px
        height: 52px
        color: #fff
        background: #C6C9CA
        &:after
            content: ""
            position: absolute
            top: -16px
            right: -24px
            +s(hours)
        p
            position: relative
            padding: 15px 0 0 10px
            text-align: left
            font-size: 18px
            z-index: 2
            +seg_b
        .fill
            right: 90px
            background: url(../img/fill2.png) repeat-x
    .offline__text
        width: 39%
        margin: 7px 0 0 38px
        line-height: 1.4
    .offline__fb
        margin: 25px 0 5px 0
        padding: 15px
        background: #ECECEC
        box-sizing: border-box
        p
            width: 90%
            margin-bottom: 5px
            line-height: 1.4
    .offline__choose
        +clr
    .offline__item
        width: 160px
        height: 160px
        text-align: center
        margin-right: 30px
        border: 1px solid #e2e2e2
        cursor: pointer
        &:hover
            box-shadow: 0 1px 1px #b7b3b1
        p
            margin: 12px 0
            line-height: 1
    .offline__about
        width: 88%
    .offline__info
        width: 33%
        margin-top: 10px
    .offline__search
        position: relative
        width: 262px
        input
            width: 100%
            height: 35px
            padding: 0 33px 0 10px
            border: 1px solid #e2e3ea
            box-sizing: border-box
            box-shadow: inset 0 1px 0 #bfbfbf
        .search_ico
            position: absolute
            top: 9px
            right: 10px
            display: block
            +s(glass)
    .offline__upload
        padding: 12px 0
        text-align: center
        border: 1px dashed #bab9b7
        button
            margin-left: 5px
            padding: 0 45px
            height: 35px
            background: #EBEBEB
            color: #424242
            border-radius: 2px
            +seg_r
    .btn-del
        top: -9px
        right: -10px
    .btn_green
        margin: 22px 0 0
        padding: 0 28px
    .fb_ico
        display: inline-block
        margin: 0 5px
        vertical-align: sub
        +s(fb_i)
    .upload_ico
        display: inline-block
        +s(upload2)
    .link-blue.is-big
        &:hover
            text-decoration: none


//dashboard popup
.popup_mobile
    width: 580px
    height: 295px
    font-size: 14px
    &.m-height
        height: 284px
    &.s-height
        height: 256px
        .mobile__row
            .txt-on-right
                width: auto
    .title-l-2
        margin-top: 0
    .mobile__in
        margin-top: 18px
        h4
            margin-bottom: 10px
            font-size: 16px
            font-weight: normal
        .input
            width: 305px
            height: 38px
            margin-bottom: 5px
    .mobile__row
        margin-bottom: 10px
        font-size: 16px
        +clr
        &.is-last
            margin-bottom: 0
        .mail
            margin-top: 8px
        .txt-on-right
            width: 105px
            margin: 8px 15px 0 0
            text-align: right
        .input
            width: 115px
            height: 38px !important
            text-align: center
            font-size: 22px
            box-sizing: border-box
        .is-dashed
            margin: 10px 0 0 15px
            font-size: 14px
            line-height: 1
    .btn_green
        min-width: 200px
        margin: 15px 0 0
    .btn-del
        top: -9px
        right: - 9px