//order_new
.logfast
	margin-top: 10px
	padding: 20px
	background: #f9f9b7
	color: #000
	span
		color: #089DE8
		border-bottom: 1px dashed #089de8
		cursor: pointer
		font-size: 14px

//reset_password
.header
	&.margin-b
		margin-bottom: 20px

.newpass
	margin: 40px 0 65px 0
	span
		font-size: 18px
	.is-bold
		+seg_b
	.newpass__in
		margin-bottom: 14px
		+clr
	.text-right
		width: 85px
		text-align: right
		margin-right: 15px
	.newpass__span
		display: block
		padding-top: 7px
	.input
		width: 250px
		height: 40px
	.label
		display: block
		margin: 15px 0
		line-height: 1
		span
			margin-left: 14px
			font-size: 14px
			vertical-align: top
	.btn_green
		width: 248px
		padding: 0
		font-size: 14px
	.no-change
		margin-left: 14px
		text-decoration: underline
		font-size: 14px
		color: #4f81bd
		+seg_sb

//account_activation
.activate
	padding-bottom: 45px
	.title-l-1
		margin-bottom: 17px
	.yellow-block
		margin-bottom: 25px
	.soc__buttons
		margin: 30px 0 20px 0
		padding-bottom: 30px
		border-bottom: 1px solid #e2e3ea
	.newpass
		margin-top: 25px
		padding-left: 105px

//client_entrance & client
.header__top
	&.with-bg
		background: #F8F5F3
	.header__top-btn
		&.registered
			position: relative
			+clr
			span
				display: inline-block
				vertical-align: middle
			.btn
				margin-top: 10px
	.header__top-menu
		height: 44px
		border-right: 1px solid #ded7d3
		border-left: 1px solid #ded7d3
		margin-right: 11px
		padding: 0 20px 0 15px
		i
			display: inline-block
			vertical-align: middle
			margin-left: 2px
			+s(arr22)
	.header__top-img
		position: relative
		margin: 4px 17px 0 0
		line-height: 1
		.notification
			position: absolute
			top: -2px
			right: -10px

.profile
	+clr
	.l-col3
		margin-right: 20px
	.profile__right
		width: 678px
	.title-l-2
		padding-left: 10px
	.profile__photo
		position: relative
		height: 220px
		margin: 17px 0 10px 0
		text-align: center
		background: #DFE2E3
		+seg_r
		p
			padding-top: 18px
			font-size: 16px
		img
			width: 100%
			height: 100%
		.no-photo
			display: block
			margin: 18px auto 0
			+s(profile)
		.load-photo
			display: block
			margin: 12px auto 0
			+s(load_photo)
	.profile__upload
		input
			+opacity(0)
			visibility: hidden
		.btn_blue
			width: 190px
			font-size: 16px
			background-color: #779dcb
			cursor: pointer
			+border-box
	.profile__change
		position: absolute
		display: block
		width: 100%
		padding: 7px 0
		font-size: 18px
		color: #FFF
		background: rgba(255, 255, 255, 0.33)
		line-height: 1
		+seg_sb
		span, i
			display: inline-block
			vertical-align: middle
		&.ontop
			top: 0
		&.onbottom
			bottom: 0
		.delete
			width: 26px
			height: 26px
			margin-right: 10px
			background: rgba(196, 196, 196, 0.33)
			+border-radius(50%)
		.photo_ico
			margin-right: 10px
			+s(camera)
		.delete_ico
			display: block
			margin: 6.5px auto 0
			+s(delete-big)
	.profile__name
		position: relative
		display: block
		padding: 6px 0
		text-align: center
		font-size: 16px
		background: #0BADFF
		color: #fff
		+seg_r
		&.underline
			text-decoration: underline
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0px
			width: 0px
			height: 0px
			border-style: solid
			border-width: 16px 0 16px 8px
			border-color: transparent transparent transparent #f6f8f8
		&:after
			content: ""
			position: absolute
			top: 0
			right: 0px
			width: 0px
			height: 0px
			border-style: solid
			border-width: 16px 8px 16px 0
			border-color: transparent #f6f8f8 transparent transparent
	.profile__about
		padding: 10px 0 0 20px
		font-size: 18px
		+border-box
		+seg_r
	.profile__contact
		margin: 10px 0
		background: #f6f6f6
		border: 1px solid #c5c9c9
		font-size: 14px
		line-height: 1
		+seg_r
		a
			color: #4F81BD
	.profile__contact-item
		position: relative
		padding: 13px 7px 10px 13px
		border-bottom: 1px solid #c5c9c9
		+clr
		&.is-last
			border-bottom: 0
		&.percent
			padding: 13px 0
		.is-hidden
			position: relative
			&:after
				content: ""
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				background: #C6C9CA
	.profile__contact-inner
		+clr
		span
			max-width: 105px
		&.recommend
			span
				max-width: 130px
			.bubble_ico
				margin: 1px 10px 0 0
		&.percent
			position: relative
			text-align: center
			font-size: 16px
			line-height: 17px
			z-index: 2
			.is-small
				font-size: 11px
	.profile__confirmed
		margin-top: 3px
		color: #83c723
		border-bottom: 1px dashed #83c723
		&.to-do
			color: #4F81BD
	.check_ico
		margin-bottom: 3px
		+s(confirmed)
	.mail_ico
		margin: 3px 10px 0 0
		+s(mail)
	.phone_ico
		margin-right: 10px
		+s(phone)
	.fb_ico
		margin: -2px 10px 0 0
		+s(fb_i)
	.bubble_ico
		margin: 5px 10px 0 0
		+s(bubble)
	.person_ico
		margin: 5px 10px 0 0
		+s(person)
	.ask_ico
		margin: 7px 12px 0 0
		+s(ask)
	.arr_ico
		margin: 3px 3px 0 0
		+s(arr23)
	.btn_arr
		margin-top: 2px
		padding: 0 23px 0 20px
		color: #25292D
		font-size: 15px
		+border-radius(15px)
		+seg_sb
		i
			+s(arr16)
	.flat-mark
		width: 100%
		margin-top: 17px
		padding: 12px 0 12px 17px
		font-size: 16px
		+border-box
		+seg_r
		&.no-shadow
			padding: 20px
			font-size: 14px
			box-shadow: none
		&.s-margin
			margin-top: 1px
			font-family: Arial, sans-serif

.respond
	&.profile
		margin: 30px 0
		&:hover
			.respond__body
				background: #FFF
				box-shadow: none
		.respond__body
			padding: 17px 20px 12px
			font-size: 14px
		.respond__recom
			float: right
			margin-right: 10px
			padding-top: 2px
			font-family: Arial, sans-serif
			color: #6DAE10
			i
				display: inline-block
				margin-right: 10px
				+s(arr7-green)
	&.with-bg
		margin-top: 10px
		.respond__top
			background: #f6f6f6
		.respond__body
			border: 1px solid #edecec
			border-top-width: 0
			font-size: 14px
			+border-box
	&.message
		margin-top: 18px
		font-size: 14px
		&:hover
			.respond__body
				background: #FFF
				box-shadow: none
		.respond__top
			background-color: #ffdb99
			+box-shadow(0 1px 0 rgba(229,131,59,.75))
			.is-bold
				color: #25292D
				+seg_b
			.respond__date
				border-left: 0
		.respond__body
			padding: 17px 60px 12px 20px
	&.review
		margin-top: 18px
		&:hover
			.respond__body
				background: #FFF
				box-shadow: none
